<div>
  <h2></h2>
</div>
<div class="container d-flex flex-row">
  <div class="col-md-4 ">
    <ul class="list-group help-group">
      <div class="faq-list list-group nav nav-tabs">
        <a href=".tab-pane" class="list-group-item list-group-item-action active" role="tab" data-toggle="tab">Frequently Asked Questions</a>
        <a href="#tab2" class="list-group-item list-group-item-action" role="tab" data-toggle="tab">
          <i class="mdi mdi-account"></i>
          How do I edit my profile?</a>
        <a href="#tab3" class="list-group-item" role="tab" data-toggle="tab">
          <i class="mdi mdi-account-settings"></i>
          How do I upload a new profile picture?</a>
        <a href="#tab4" class="list-group-item" role="tab" data-toggle="tab">
          <i class="mdi mdi-star"></i>
          Reduce, Reuse, Recycle?</a>
        <a href="#tab5" class="list-group-item" role="tab" data-toggle="tab">
          <i class="mdi mdi-cart"></i>
          Privacy</a>
        <a href="#tab6" class="list-group-item" role="tab" data-toggle="tab">
          <i class="mdi mdi-heart"></i>
          What is this?</a>
        <a href="#tab7" class="list-group-item" role="tab" data-toggle="tab">
          <i class="mdi mdi-check"></i>
          Contribute?</a>
      </div>
    </ul>
  </div>

  <div class="col-md-8">

    <div class="panel-group" id="help-accordion-1">

      <div class="tab-pane" id="tab2">

        <div class="panel panel-default panel-help">
          <a href="#opret-produkt" data-toggle="collapse" data-parent="#help-accordion-1">
            <div class="panel-heading">
              <h2>How do I edit my profile?</h2>
            </div>
          </a>
          <div id="opret-produkt" class="collapse in">
            <div class="panel-body">
              <p>Pretty simple! Just create and account or log in to your existing one, go to the profile section on the navigation bar and customise the heck of it! (Well not all yet), we are constantly working to offer you a better service.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="tab3">
        <div class="panel panel-default panel-help">
          <a href="#rediger-produkt" data-toggle="collapse" data-parent="#help-accordion-1">
            <div class="panel-heading">
              <h2>How do I upload a new profile picture?</h2>
            </div>
          </a>
          <div id="rediger-produkt" class="collapse">
            <div class="panel-body">
              <p>If you are looking to optimised your expirience by choosing your prefered avatar or profile pic, please go to the profile section and find the image upload option, then enjoy of your newly handsome thumbnail</p>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="tab4">
        <div class="panel panel-default panel-help">
          <a href="#ret-pris" data-toggle="collapse" data-parent="#help-accordion-1">
            <div class="panel-heading">
              <h2>Reduce, Reuse, Recycle?</h2>
            </div>
          </a>
          <div id="ret-pris" class="collapse">
            <div class="panel-body">
              <p>
                <strong>Reduce—</strong>
                Avoid waste-look for ways to produce and use goods that stop waste being generated. Reduce waste-choose products that can be used productively, recycled locally, and have minimal packaging.</p>
              <p>
                <strong>
                  Re-use—</strong>
                containers, packaging or waste products.</p>
              <p>
                <strong>
                  Recycle—</strong>
                waste material into useable products.</p>
            </div>
          </div>
        </div>

      </div>

      <div class="tab-pane" id="tab5">
        <div class="panel panel-default panel-help">
          <a href="#slet-produkt" data-toggle="collapse" data-parent="#help-accordion-1">
            <div class="panel-heading">
              <h2>Where do I change my privacy settings?</h2>
            </div>
          </a>
          <div id="slet-produkt" class="collapse">
            <div class="panel-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus nesciunt ut officiis accusantium quisquam minima praesentium, beatae fugit illo nobis fugiat adipisci quia distinctio repellat culpa saepe, optio aperiam est!</p>
              <p>
                <strong>Example:
                </strong>Facere, id excepturi iusto aliquid beatae delectus nemo enim, ad saepe nam et.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="tab6">

        <div class="panel panel-default panel-help">
          <a href="#opret-kampagne" data-toggle="collapse" data-parent="#help-accordion-1">
            <div class="panel-heading">
              <h2>What is this?</h2>
            </div>
          </a>
          <div id="opret-kampagne" class="collapse">
            <div class="panel-body">
              <p>Please read our small blurb on the homepage or contact us with any questions regarding the Pick it up mate! project.</p>
            </div>
          </div>
        </div>

      </div>

      <div class="tab-pane" id="tab7">
        <div class="panel-group" id="help-accordion-2">
          <div class="panel panel-default panel-help">
            <a href="#help-three" data-toggle="collapse" data-parent="#help-accordion-2">
              <div class="panel-heading">
                <h2>Contribute?</h2>
              </div>
            </a>
            <div id="help-three" class="collapse in">
              <div class="panel-body">
                <p>Let us know if you would like to be part of the initiave by sending an email to
                  <a href="#">pickitup@gmail.com</a>
                  We are more than happy to work with any enthusiastic entrepenuers, volunteers or developers!</p>
                <p>
                  <strong>copyright
                  </strong>Misael M 2018</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
</div>
