<div class="background-home"></div>
<div class="d-flex justify-content-center">
  <a href="#get-started" class="homepage-link">
    <i class="fas fa-angle-double-down fa-5x"></i>
  </a>
</div>

<div class="container">
  <div class="d-flex flex-column justify-content-center">
    <div class="p-2 subtitle">
      <h2> <span>
        Find it, Post it, Get it</span></h2>
    </div>
    <div class="p-2">
      <p>Pick it up mate! Is a socially aware environmental application that aims to contribute and encourage the philosophy of <strong>reduce/recycle/reuse.</strong> The participation of society to resolve issues of waste is fundamental, specially in big cities as we encountered day by day. The culture of consumption has reach a pick point, it’s time to make something about it and that is why we came to existence! All those goodies in the street are useful to many of us, we can find treasures in what it is considered waste. It is a common thread to find clutter on our suburbs and sometimes we may need to get rid off something we just don’t need anymore, well, what about instead we promote and share all those “useless” items? We may be surprise how many others think in a different way. Maybe you are moving and don’t need that good anymore, just put it on the street and use our app!  Maybe you are walking down the street and you find a bunch of discarded things, instead of passing by oblivious, take a snap and put it up, someone will find it useful, or maybe you are the one looking for a free goodie for your home? Find it, Post it, Get it!
  </p>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">


<%= button_to 'Get started', login_path, :class => 'button_home', :id => 'get-started', :method => 'get' %>

</figure>
</div>
