<div class="background-home"></div>
<div class="d-flex justify-content-center">
  <a href="#get-started" class="homepage-link">
    <i class="fas fa-angle-double-down fa-5x"></i>
  </a>
</div>

<div class="container">
  <div class="d-flex flex-column justify-content-center">
    <div class="p-2 subtitle">
      <h2> <span>
        Find it, Post it, Get it</span></h2>
    </div>
    <div class="p-2">
      <p>E et praetermissum do laboris in expetendis. Doctrina ea illum proident an hic duis sunt ipsum ingeniis. Cernantur veniam appellat doctrina, quo export et labore quo voluptate duis ita ullamco voluptatibus ab velit possumus iis comprehenderit.O
        quorum tamen illum probant. Ad tamen sempiternum, aliquip firmissimum o aliquip. Si export cillum nam excepteur, iis ne esse fore eram nam nostrud nulla export ingeniis dolore, et et veniam singulis quo a non magna tamen nisi e cillum admodum an
        coniunctione te appellat quid excepteur, nulla exercitation voluptate duis constias.</p>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">


<%= button_to 'Get started', login_path, :class => 'button_home', :id => 'get-started' %>

</figure>
</div>
