$primary-color: #f7faff;
$secondary-color: #14a3aa;
$tertiary-color: #faf9f4;
$bg-start: #9d9181;
$bg-end: #9e866c;
$card-bg: #e6e5e1;
$dribbble-color: #ea4b89;
$twitter-color: #68aade;
$facebook-color: #3b5999;
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  padding-top: 130px!important;
}
@media (min-width: 992px) {

  .title {
    font-size: 2vw;
    padding: 1em;
    font-family: 'Abril Fatface', cursive;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 5vw;
    padding: 1em;
    font-family: 'Abril Fatface', cursive;

  }
  body {
    padding-top: 140px!important;
  }
}

.title {
  font-family: 'Abril Fatface', cursive;
}

h1 {
  text-align: center;
  margin-top: 3em;
}

h2 {
  text-align: center;
  margin-top: 2em;
  font-family: 'Lato', sans-serif;
}

.subtitle span {
display: inline-block;
position: relative;
}
.subtitle span:before,
.subtitle span:after {
content: "";
position: absolute;
height: 2px;
border-bottom: 2px solid $secondary-color;
border-top: 2px solid $secondary-color;
top: .75em; /* 50% of line-height */
width: 100%;
}
.subtitle span:before {
right: 100%;
margin-right: 15px;
}
.subtitle span:after {
left: 100%;
margin-left: 15px;
}

table {
  font-family: 'Arial';
  margin: 25px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid $secondary-color;
  box-shadow: 0 0 20px rgba(0,0,0,0.10), 0 10px 20px rgba(0,0,0,0.05), 0 20px 20px rgba(0,0,0,0.05), 0 30px 20px rgba(0,0,0,0.05);

  tr {
    &:hover {
      background: #f4f4f4;

      td {
        color: #555;
      }
    }
  }

  td,
  th {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
  }

  th {
    background: $secondary-color;
    color: $tertiary-color;
    text-transform: uppercase;
    font-size: 12px;

    &.last {
      border-right: none;
    }
  }
}

// .form-bg {
//
//
// }

.form-bg:before {
  content: "";
  width: 100%;
  height: 110%;
  background: rgba(73, 116, 130, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.form-horizontal {
  padding: 60px 40px 55px;
  margin-top: 40px;
  background: $tertiary-color;
  border-radius: 10px;
}

.form-horizontal:before {
  content: "\f007";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  width: 100px;
  height: 100px;
  line-height: 96px;
  border-radius: 50%;
  border: 4px solid $tertiary-color;
  background: $secondary-color;
  font-size: 40px;
  color: $tertiary-color;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
}

.form-horizontal .heading {
  display: block;
  font-size: 28px;
  color: #597886;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 20px;
}

.form-horizontal .form-group {
  margin: 0 0 30px;
  position: relative;
}

.form-horizontal .form-group:last-child {
  margin: 0;
}

.form-horizontal .form-control {
  height: 50px;
  border: 2px solid #cbe9ea;
  border-radius: 5px;
  box-shadow: none;
  padding: 0 20px 0 26%;
  font-size: 16px;
  font-weight: bold;
  color: #94abb6;
  position: relative;
  transition: all 0.3s ease 0s;
}

.form-horizontal .form-control:focus {
  box-shadow: none;
  outline: 0 none;
}

.form-horizontal .control-label {
  width: 25%;
  height: 46px;
  line-height: 46px;
  background: #f5ffff;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  color: #94abb6;
  text-transform: capitalize;
  text-align: center;
  border-right: 2px solid #cbe9ea;
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;
}

.form-horizontal .btn,
.form-horizontal .btn:focus {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 30px;
  background: $secondary-color;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  color: $tertiary-color;
  text-transform: uppercase;
  position: relative;
}

.form-horizontal .btn:hover {
  background: $secondary-color;
}

.form-horizontal .btn:before {
  content: "\f084";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 30px;
  font-size: 24px;
  color: $tertiary-color;
}

.form-horizontal .forgot-pass,
.form-horizontal .signup {
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  color: $secondary-color;
}

.form-horizontal .forgot-pass {
  float: right;
  color: $secondary-color;
}
@media only screen and (max-width: 990px) {
  .form-horizontal:before {
    top: -20px;
  }
}
@media only screen and (max-width: 480px) {
  .form-horizontal {
    padding: 60px 20px 40px;
  }

  .form-horizontal .control-label {
    font-size: 12px;
  }

  .alert {
    font-size: 1vw !important;
    font-family: 'Lato', sans-serif;
  }
}

.background-home {

  width: 100%;
  height: 500px;
  // margin: 5px;
  background: url(pickitup.png);
  background-size: cover;
  position: relative;
  &:before {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5;
  }
}

.searchbox {
  margin: 2em;
}

.alert {
  text-align: center;
  color: $secondary-color;
  font-size: 2.5vw;
  font-family: 'Lato', sans-serif;
}
.card-profile {
  width: 340px;
  margin: 50px auto;
  background-color: $card-bg;
  border-radius: 0;
  border: 0;
  box-shadow: 1em 1em 2em rgba(0,0,0,.2);

  .card-img-top {
    border-radius: 0;
  }

  .card-img-profile {
    max-width: 100%;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: -95px;
    margin-bottom: 35px;
    border: 5px solid $card-bg;
  }

  .card-title {
    margin-bottom: 50px;

    small {
      display: block;
      font-size: .6em;
      margin-top: .2em;
    }
  }

  .card-links {
    margin-bottom: 25px;

    .fa {
      margin: 0 1em;
      font-size: 1.6em;

      &:focus,
      &:hover {
        text-decoration: none;
      }

      &.fa-dribbble {
        color: $dribbble-color;
        font-weight: bold;

        &:hover {
          color: darken($dribbble-color, 10%);
        }
      }

      &.fa-twitter {
        color: $twitter-color;

        &:hover {
          color: darken($twitter-color, 10%);
        }
      }

      &.fa-facebook {
        color: $facebook-color;

        &:hover {
          color: darken($facebook-color, 10%);
        }
      }
    }
  }
}

.homepage-link {
  text-decoration: none;
  color: #211d20;
  margin-top: 3em;

  &:hover {
    opacity: 0.5;
  }
  &:visited {
  color: #211d20;
  }
}
.square-side {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 50px solid transparent;
  border-top-width: 0;
  border-bottom-width: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
}
.trapezoid-side {
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-radius: .2em;
  top: -10px;
}
/* button homepage */
.button_home {
  font-size: 1em;
  color: $tertiary-color;
  display: block;
  margin: 2em auto;
  height: 50px;
  background: $secondary-color;
  border: none;
  position: relative;
  width: 100px;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  box-shadow: 0 0 .25em #333;
  cursor: pointer;
  outline: none;
  /* mashed state */
}
.button_home::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 50px solid transparent;
  border-top-width: 0;
  border-bottom-width: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  border-left-color: $secondary-color;
}
.button_home::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 50px solid transparent;
  border-top-width: 0;
  border-bottom-width: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: all 0.1s ease-out;
  -webkit-transition: all 0.1s ease-out;
  border-right-color: $secondary-color;
}
.button_home:active {
  -webkit-transform: scale(1.2, 0.8);
}
.button_home:active::before {
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-radius: .2em;
  top: -10px;
  border-left-color: $secondary-color;
}
.button_home:active::after {
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-radius: .2em;
  top: -10px;
  border-right-color: $secondary-color;
}
/* end button */

.button_edit {
  margin-right: 1em !important;
}
.button_item {
  margin: 2em 2em 0  0 !important;
}
